body {
  color: #333;
  font-family: sans-serif;
}

header {
  border: 1px solid black;
  margin: 20px auto 50px auto;
  padding: 25px;
  text-align: center;
  width: 500px;
}

h1 {
  font-family: 'Spectral', serif;
  font-weight: lighter;
  font-size: 4em;
}

nav a {
  border-bottom: 1px solid #FFF;
  color: #888;
  font-size: 1.1em;
  margin: 0 10px;
  text-decoration: none;
  transition: border-color 0.2s ease;
}

nav a:hover {
  border-bottom: 1px solid #999;
  transition: border-color 0.3s ease;
}

#main-content {
  margin: auto;
  text-align: center;
  width: 750px;
}

#main-content p {
  text-align: left;
}