/* GENERAL */

body {
  color: #333;
  background-color: #EEE;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Simonetta', serif;
  font-weight: 300;
  font-size: 5em;

  margin-bottom: 30px;
}

/* SOCIAL ICONS */

#social a {
  text-decoration: none;

  margin: 0 10px;
}

#social svg {
  width: 2.5em;
  height: 2.5em;
  stroke-width: 0;
  stroke: #999;
  fill: #999;
  transition: all 0.2s ease;
}

#social svg:hover {
  stroke: #333;
  fill: #333;
  transition: all 0.3s ease;
}