/* GENERAL */

body {
  color: #555;
  background-color: #EEE;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  color: #333;
  font-family: 'Marcellus SC', serif;
  font-weight: 300;
  font-size: 5em;

  margin-bottom: 30px;
}

p {
  margin: 8px auto;
}

#about {
  margin-bottom: 45px;
}

/* LINKS */

a {
  border-bottom: 1px solid #333;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  border-bottom: 1px solid #999;
  transition: all 0.3s ease;
}

/* SOCIAL ICONS */

#social a {
  text-decoration: none;
  border-bottom: none;

  margin: 0 10px;
}

#social svg {
  width: 2.5em;
  height: 2.5em;
  stroke-width: 0;
  stroke: #B7C3D0;
  fill: #B7C3D0;
  transition: all 0.2s ease;
}

#social svg:hover {
  stroke: #6C7B8B;
  fill: #6C7B8B;
  transition: all 0.3s ease;
}